$dark-color: #f3f4f6;
$dark-bg: #141414;
$dark-border: #f3f4f6;
$dark-secondary: #989898;
$dark-svg: invert(89%) sepia(48%) saturate(3072%) hue-rotate(179deg)
  brightness(118%) contrast(92%);

$light-color: #333;
$light-bg: #f3f4f6;
$light-border: #d1d5db;
$light-secondary: #525252;
$light-svg: invert(18%) sepia(0%) saturate(65%) hue-rotate(179deg)
  brightness(106%) contrast(96%);
