@import "../../styles/mixins";

.about {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: calc(53rem + 3rem);
  padding: 1.5rem;
  margin: 0 auto 3rem auto;

  animation: 0.8s fade-in forwards;

  @keyframes fade-in {
    from {
      top: 60px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @include md {
    flex-direction: row;
  }

  .about__image {
    width: 150px;
    height: 150px;
    border-radius: 2.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .about__text {
    display: flex;
    flex-direction: column;

    .about__title {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.2;
      text-wrap: pretty;

      @include md {
        font-size: 3rem;
        line-height: 1.5;
      }
    }

    .about__portions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      margin-top: 1rem;

      @include md {
        display: flex;
        justify-content: start;
        gap: 2rem;
        margin-top: 0.5rem;
      }

      .about__portion {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;

        .portion__main {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--color-secondary);

          @include md {
            font-size: 1.2rem;
          }
        }

        .portion__secondary {
          font-size: 0.85rem;
          color: var(--color-secondary);

          a {
            color: var(--color-secondary);
            text-decoration: none;
            transition: color 0.3s;
            cursor: pointer;

            &:hover {
              color: var(--color-text);
            }
          }
        }
      }
    }
  }
}
