@import "../../styles/mixins";

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: calc(53rem + 3rem);
  padding: 1.5rem;

  .projects__title {
    font-size: 1.8rem;
  }

  .projects__section {
    margin-top: 2rem;
  }
}
